body {
    background-color: #f3f3f3;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  #qr-scanner {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 547px;
    height: 427px;
    left: 447px;
    top: 299px;
  }
  
  #qr-result {
    color: #333;
    font-weight: bold;
    position: relative;
  }
  